<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{ page.title }}</title>
	<meta name="author" content="Mikun Pham" />
	<meta name="description" content="This is mikunpham blog!" />

	<!-- Stylesheet -->
	<link rel="stylesheet" href="{{ 'assets/css/normalize.min.css' }}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Roboto:300,400,700&amp;subset=vietnamese" />
	<link rel="stylesheet" href="{{ 'assets/css/main.css' }}" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>