<header>
	<div class="logo">
		<a href="/"><h1>MikunPham</h1></a>
	</div>
	<ul class="social">
		<li><a href="https://github.com/mikunpham" target="_blank"><i class="fa fa-github"></i></a></li>
		<li><a href="https://codepen.io/mikun/" target="_blank"><i class="fa fa-codepen"></i></a></li>
		<li><a href="https://twitter.com/phammikun" target="_blank"><i class="fa fa-twitter"></i></a></li>
		<li><a href="https://linkedin.com/in/mikunpham" target="_blank"><i class="fa fa-linkedin"></i></a></li>
	</ul>
</header>