<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{ page.title }}</title>
	<meta name="author" content="Mikun Pham" />
	<meta name="description" content="This is mikunpham blog!" />

	<!-- Stylesheet -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700" />
	<link rel="stylesheet" href="{{ '/assets/css/normalize.min.css' | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ '/assets/css/main.min.css' | prepend: site.baseurl }}" />
	<!--[if lt IE 9]><script async src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-53227271-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>